av==14.2.0
cmake==4.0.3
datasets==3.6.0
deepdiff==8.5.0
diffusers==0.35.1
draccus==0.10.0
einops==0.8.1
Flask==3.0.3
gdown==5.2.0
gymnasium==0.29.1
h5py==3.13.0
huggingface-hub[cli,hf-transfer]==0.36.0
imageio[ffmpeg]==2.37.0
jsonlines==4.0.0
msgpack==1.1.1
msgpack-numpy==0.4.8
numba==0.61.0
omegaconf==2.3.0
opencv-python-headless==4.11.0.86
packaging==24.2
pin==2.7.0
pymunk==6.11.1
pynput==1.8.1
pyttsx3==2.90
pyzmq==27.0.0
rerun-sdk==0.21.0
termcolor==3.1.0
torchcodec==0.2.1
tyro==0.9.17
wandb==0.23.1
zarr==2.18.3
